.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.message-content code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

#message-container::-webkit-scrollbar {
    display: none;
}

.container-height {
    height: 30em;
}